	#document-title .logo-wide {
		background-image: none !important;
		width: 147px;
		height: 32px;
	}

	#body-user #header, #body-settings #header {
		background-image: none;
		background-color: #7b7b7b;
	}

	#expanddiv {
		background-image: none;
		background-color: #7b7b7b;
	}

	#app.contacts {
		margin-left:-15px
	}

	#navigation {
		background-image: none;
		background-color: #7b7b7b
	}
